:root {
    --dark-color: #1a1a1a;
    --white-color: #ffffff;
    --light-grey-color: #f5f5f5 ;
    --light-green-color:#05c46b;
    --gold-color: #ffb944;
    --blue-color:#4bcffa;
    --blue-strong:#3c40c6;
    --red-navidad:#d63031;
    --logoslogan:rgba(#666566,#dbdbdb,#a39ea3,1);
}

body {
    font-family: 'Titillium Web', sans-serif;
    width: auto !important;
    background-image: url(../img/campo.jpg) !important;
    background-size: cover;
   
     
}
h1{
   padding-top: 60px;
    color: var(--blue-strong); 
}
.slogan {
    color: var(--white-color);
    
    font-size: 25px;

}

.logo{
    width: 20%;
    height: 20%;
    text-shadow: 2px 2px 4px var(--dark-color);

}
/* seccion */

